@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  overflow: hidden;
  height: 100vh;
}

@layer utilities {
  .nav {
    @apply relative text-gray-500 font-bold 
    tracking-[1px] duration-300 hover:text-white;
  }
  .nav::after {
    @apply content-[''] bg-white h-[2px] w-0
    left-0 bottom-0 rounded-xl absolute
    duration-300;
  }

  .nav:hover::after {
    @apply w-full;
  }

  .nav-Select {
    @apply relative text-white font-bold tracking-[1px];
  }
  .nav-Select::after {
    @apply content-[''] bg-white h-[2px] w-full
    left-0 bottom-0 rounded-xl absolute
    duration-300;
  }
}
